
<div @ref=_chatColumn style="@($"height:{Height}; overflow:auto; width:100%; font-size:{_fontSize};line-height:{_lineHeight}")">
    @foreach (var message in ChatState?.ChatMessages ?? [])
    {
        <MessageView Message="message"></MessageView>
    }
</div>